<%- include ('header.ejs') %>

  <h1>Danh sách nhân viên</h1>
  <table border="5" class="table table-light table-striped">
    <tr>
      <th>Tên nhân viên</th>
      <th>Tuổi nhân viên</th>
      <th>Hình ảnh</th>
      <th>Hành động</th>
    </tr>
    <% for(i=0; i<dsnv.length; i++) { %>
      <tr>
        <td>
          <%= dsnv[i].ten %>
        </td>
        <td>
          <%= dsnv[i].tuoi %>
        </td>
        <td>
          <img src="/hinhanh/<%= dsnv[i].hinh ? dsnv[i].hinh : 'no-photo.jpg' %>" alt="" width="100px">
        </td>
        <td>
          <a href="/sua/<%= dsnv[i]._id %>" class="btn btn-warning">Sửa</a>
          <a onclick="hoitruockhixoa('<%= dsnv[i]._id %>')" class="btn btn-danger">Xóa</a>
        </td>
      </tr>
      <% } %>
  </table>

  <div class="clearfix">
    <%
      if (tranghientai>1) {
        var page=parseInt(tranghientai)-1
    %>
        <a href="/<%= page %>" class="btn btn-primary float-left">&larr; Trang trước</a> 
    <%
      }
      if (tranghientai<trangcuoicung) {
        var page=parseInt(tranghientai)+1
    %>
        <a href="/<%= page %>" class="btn btn-primary float-right">Trang sau  &rarr;</a> 
    <%
      }
    %>
  </div>

  <script>
    function hoitruockhixoa(maso) {
      Swal.fire({
        title: "Bạn có chắc không?", text: "Hành động này không thể phục hồi!", icon: "warning",
        showCancelButton: true, confirmButtonColor: "#3085d6", cancelButtonColor: "#d33",
        confirmButtonText: "Vâng, xóa đi!"
      })
        .then((result) => {
          if (result.isConfirmed) {
            Swal.fire({ title: "Deleted!", text: "Nhân viên đã được xóa.", icon: "success" })
              .then(() => {
                location.href = "/xoa/" + maso
              });
          }
        });
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<%- include ('footer.ejs') %>
